<form class="generate-accounts-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Pick a Wallet Directory
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    Enter the directory where you want to store your wallet. If left blank, a wallet will be created at:
    <ul>
      <li>Linux: <span class="preformatted">{{ linux }}</span></li>
      <li>MacOS: <span class="preformatted">{{ macos }}</span></li>
      <li>Windows: <span class="preformatted">{{ windows }}</span></li>
    </ul>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Enter desired wallet directory</mat-label>
    <input
      matInput
      formControlName="walletDir"
      name="walletDir"
    />
  </mat-form-field>
</form>
