<nav class="flex items-center position-relative mb-8 mt-1">
  <ol>              
    <li 
      *ngFor="let breadcrumb of breadcrumbs; let i=index" 
      class="inline items-baseline"
      [ngClass]="{'text-lg': i === 0, 'text-muted': i > 0}">
      <span *ngIf="i > 0" class="mx-4">|</span>
      <a *ngIf="i < breadcrumbs.length - 1; else workingRoute" 
        routerLink="breadcrumb.url">
        {{ breadcrumb.displayName }}
      </a>
      <ng-template #workingRoute>{{ breadcrumb.displayName }}</ng-template>
    </li>
  </ol>
</nav>